<!DOCTYPE html>
<html>
<head>
    <title>Music</title>
    <style>
        body{
            font-family:Arial;
            background:#f9f9f9;
            padding:40px;
        }
        .song{
            background:white;
            padding:20px;
            margin-bottom:20px;
            border-radius:8px;
            box-shadow:0 0 5px gray;
        }
    </style>
</head>
<body>

    <h1>🎧 Music Streaming</h1>

    {% for song in songs %}
    <div class="song">
        <h3>{{ song.title }}</h3>
        <audio controls>
            <source src="{{ url_for('static', filename='songs/' + song.file) }}" type="audio/mpeg">
            Your browser does not support audio.
        </audio>
    </div>
    {% endfor %}

    <a href="/">⬅ Back to Home</a>

</body>
</html>
